<h1>Angular</h1>

instead of using property binding wiht input properties , we goind to use ngContent element
<bootstrap-panel>
    <!-- ngContainer - during runtime , only take the content of this ngContainer
    it not goind to display in dom, like div or something else
    Use this if want to render it without putting it inside div or any other dml elements -->
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here....</p>
    </div>
</bootstrap-panel>

<app-pipes-courses></app-pipes-courses>
<courses></courses>

<!-- will get error that it isn't a know property of favourite 
in order to use property binding you need to define the property.
in order to make component more reusable we need to use input property to pass input/state to component 
and output property to raise event from this custom component. combination of this make it as public API-->

<!-- now using is-favourite alias name as specified in favourite.component.ts -->
<app-favourite [is-favourite]="post.isFavourite" (change)="onFavChange()"></app-favourite>
