<h1>Angular</h1>

<h1>ngFor Load courses</h1>
<button (click)="loadCourses()">Load Courses</button>
<ul>
    <!-- now instead of track by memorylocation for the coursesToLoad , we track by course.id
    so that if the content not changed angular will not rerun the dom element
    using trackCourse method by set it as reference below
    when yo click load course again and again you cannot see the li highlighted in purple
    in console as it not rerun the entire list as using same course object , same id
    Dont use it by default in every page , only when have performance issue -->
    <li *ngFor="let myCourse of coursesToLoad;  trackBy:trackCourse">
        {{i}} - {{myCourse.name}}
        <!-- pass the course from the interation above to remove each course -->
        <button (click)="onRemoveCourseLoad(myCourse)">Remove</button>
        <button (click)="onChange(myCourse)">ChangeName</button>
    </li>
</ul>

<h1>ngFor example</h1>
<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courseslist; index as i">
        {{i}} - {{course.name}}
        <!-- pass the course from the interation above to remove each course -->
        <button (click)="onRemove(course)">Remove</button>
        <button (click)="onChange(course)">ChangeName</button>
    </li>
</ul>

<!-- can use other local variable to get odd , even other than index above from
https://angular.io/api/common/NgForOf 
-->

<h1>ngFor example2 check even rows , start from index 0</h1>
<ul>
    <li *ngFor="let course of courseslist; even as isEven">
        {{course.name}} <span *ngIf="isEven">(EVEN)</span>
    </li>
</ul>

<h1>Switch case example</h1>
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode='map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode='list'">List View</a></li>
  </ul>
<!-- render one of this view dynamically based on viewMode field value using ngSwitch property binding -->
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <!-- if none of the above  -->
    <div *ngSwitchDefault>Otherwise</div>
</div>

<br>
<!-- ngIf example -->
<div *ngIf="courses.length>0">
    List of courses
</div>
<div *ngIf="courses.length==0">
   No courses available
</div>

<!-- hide using hidden property example -->
<div [hidden]="courses.length==0">
    List of courses
</div>
<div [hidden]="courses.length>0">
   No courses available
</div>

<!-- Alternatively instead of using ngIf r hidden property above , we can use if else kind of approach as below
using the template variable, try to remove courses from .ts file -->
<div *ngIf="courses.length>0;then coursesList else noCourses">
</div>
<ng-template #coursesList>
        List of courses
 </ng-template>
<ng-template #noCourses>
       No courses available
</ng-template>


<!-- instead of using property binding wiht input properties , we goind to use ngContent element -->
<bootstrap-panel>
    <!-- ngContainer - during runtime , only take the content of this ngContainer
    it not goind to display in dom, like div or something else
    Use this if want to render it without putting it inside div or any other dml elements -->
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here....</p>
    </div>
</bootstrap-panel>

<app-pipes-courses></app-pipes-courses>
<courses></courses>

<!-- will get error that it isn't a know property of favourite 
in order to use property binding you need to define the property.
in order to make component more reusable we need to use input property to pass input/state to component 
and output property to raise event from this custom component. combination of this make it as public API-->

<!-- now using is-favourite alias name as specified in favourite.component.ts -->
<app-favourite [is-favourite]="post.isFavourite" (change)="onFavChange()"></app-favourite>
